	<div class="entry">
		<div class="span1 title_show"><h6>Edat</h6></div>
		<div>23</div>
	</div>
	<div class="entry">
		<div class="span1 title_show"><h6>e-mail</h6></div>
		<div><%= @user.email %></div>
	</div>
	<div class="entry">
		<div class="span1 title_show"><h6>Telèfon contacte</h6></div>
		<div>655677687</div>
	</div>
	<div class="entry">
		<div class="span1 title_show"><h6>Web Personal</h6></div>
		<div>www.exemple.com</div>
	</div>
	<div class="entry">
		<div class="span1 title_show"><h6>Linkedin</h6></div>
		<div>www.linkedin.com</div>
	</div>
	<div class="entry">
		<div class="span1 title_show"><h6>Telèfon contacte</h6></div>
		<div>655677687</div>
	</div>
	<div class="entry">
		<div class="span1 title_show"><h6>Procedència</h6></div>
		<div>Lleida</div>
	</div>
	<div class="entry">
		<div class="span1 title_show"><h6>Actual residència</h6></div>
		<div>Barcelona</div>
	</div>