<h1>Directori</h1>

<% if current_user.admin? %>
  <hr style="margin-bottom: 0" />
  <%= link_to "Afegir nou usuari", new_user_path %>
  <hr />
<% end %>

<%= will_paginate %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>

