<div class="span9 offset1">
	<div class="page-header">
	<h1>Sobre els creadors de la web</h1>
	</div>
	
	<div class="span8 news">
		<%= image_tag "alex.jpg", :class=>"img pull-left" , :size=>"120x180"%>
		<div class="pull-left span5">
			<em>Alex Escala</em> és membre fundador de la Multinacional recolectora de cargols, Cargolets Co. Abans, fou un
			dels socis fundadors de ReptaSure, empresa dedicada a garantir la fiabilitat i seguretat en les comunicacions 
			entre rèptils. Fou guardonat amb nombrosos premis per part del col·lectiu reptaire.
		</div>
	</div>	
	
	<div class="span8 news">
		<%= image_tag "logoUPC.png", :class=>"img pull-left", :size=>"120x180" %>
		<div class="pull-left span5">
			<em>Pau Haro</em> és l'últim d'una gran i llegendària saga de teleco-informats. Asidu en els sopars del CFIS,
			el seu grup es caracteritzava per donar-ho tot i no deixar gram d'alcohol volatilitzat per l'aire. Més
			tard seria conegut com "el inalcoholitzable Pau Haro". Podeu seguir-lo a #GraciesPau.
		</div>
	</div>
	
	<div class="span8 news">
		<%= image_tag "bernat.jpg", :class=>"img pull-left", :size=>"120x180" %>
		<div class="pull-left span5">
			<em>Bernat Guillén</em> és Vice Rector de la Universitat de Sexe Tántric del Nepal. Co-fundador de "Sexo es vida",
			multinacional ajudadora d'impotents. Doctor en kama-sutra per Sexford.
		</div>
	</div>
	
	<div class="span8 news">
		<%= image_tag "mingot.jpg", :class=>"img pull-left", :size=>"120x180" %>
		<div class="pull-left span5">
			<em>Josep Marc Mingot</em> noi simpàtic, amistòs, solter, un mica tacanyo que sempre està disposat a soltar
			alguns durets si la companyia promet joc.  
		</div>
	</div>
