<div class="span9 offset1">
	<div class="page-header">
	<h1>Contacte</h1>
	</div>
	<p>
	Agrairem molt el vostre feedback sobre la web així com qualsevol suggeriment de millora. 
	Si us plau, per fer-ho, només heu d'enviar un mail a: </p>
	<p>alumnidevelopers at googlegroups.com</p>
	on el títol del missatge comenci per [FEED]. Moltes gràcies!
	</p>
</div>

