<div class="span9 offset1">
	<div class="page-header">
		<h1>Sobre el CFIS</h1>
	</div>
	<p>
	Un dels objectius principals de la Universitat Politècnica de Catalunya (UPC) és el d'oferir 
	una formació de qualitat orientada a les necessitats del seu entorn. Els darrers anys la UPC ha 
	realitzat un considerable esforç per incentivar aquesta qualitat, actualitzant els plans d'estudi, 
	promovent la innovació docent i millorant els recursos destinats a donar suport als ensenyaments.
	</p>

	<p>
	Amb la creació del Centre de Formació Interdisciplinària Superior (CFIS), la UPC va ampliar la 
	seva oferta acadèmica per tal de cobrir, amb criteris d'excel·lència i qualitat, un enfocament interdisciplinari 
	específic en les disciplines que li són pròpies.
	</p>
	
	<p>
	El Centre de Formació Interdisciplinària Superior (CFIS) és un centre de d’excel·lència de la 
	Universitat Politècnica de Catalunya (UPC) creat per captar, seleccionar i tutoritzar estudiants amb 
	capacitat i motivació suficients per cursar uns estudis interdisciplinaris dins d’una oferta de formació 
	innovadora que inclou una o més de les titulacions de grau que conforma l’oferta de la UPC.
	</p>
	
	<p>
	El CFIS va començar essent una experiència pilot de doble titulació en telecomunicacions i matemàtiques al 
	1999, i des del 2003 és un centre més de la Universitat que incorpora cada curs una vintena d’estudiants d’alt 
	nivell.
	</p>
	
	<p>
	El CFIS disposa d’un procés de selecció propi que garanteix la idoneïtat dels seus estudiants per fer 
	front amb garanties d’èxit a un pla d’estudis intens.
	</p>
	
	<p>
	El centre compta per al seu funcionament amb el patrocini i suport de diverses institucions i empreses privades.
	</p>
</div>
