<footer>
  <nav class="round">
    <ul>
    <% if not signed_in? %>
      <li><%= link_to "Registra't", about_path %></li>
    <% end %>
      <li><%= link_to "Contacte",contact_path %></li>
    </ul>
  </nav>
</footer>

