

<div class="footer-wrapper span8 offset2">
	<footer>
	<ul class="footer-stylize">
    <li><%= link_to "Ajuda", help_path %><span class="dot divider"></span></li>
	<li><%= link_to "Contacte",contact_path %><span class="dot divider"></span></li>
	<li><span clas="cpyright"><p>&copy; 2012 Alumni Developers</p></span></li>
	</ul>
	</footer>
</div>




