

<div class="footer-wrapper span9 offset1">
	<footer class="footer">
	<div class="offset3">
		<ul class="footer-stylize">
		    
			<li><%= link_to "Contacte",contact_path %><span class="dot divider"></span></li>
			<li><%= link_to "Sobre el CFIS", help_path %><span class="dot divider"></span></li>
			<li><%= link_to "Sobre els creadors",about_path %><span class="dot divider"></span></li>
			<li><span clas="cpyright"><p>&copy; 2012 Alumni Developers</p></span></li>
		</ul>
	
	</div>
		<%= image_tag "logoUPC.png", :class=>"img" %>

	</footer>
</div>




